:host ::ng-deep {
    .mat-tab-label {
        min-width: 245px;
    }
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 25px;

    h1 {
        font-size: 35px;
        line-height: 35px
    }

    p {
        font-size: 17px;
        color: #676767;
    }
}

main {
    flex-grow: 1;
}